/* Typewriter animation for on-screen question. */

@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink-caret {
	100% {
		border-color: transparent;
	}
}

.typing {
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .05em solid black;
	width: 16.5em;
	width: 31ch;
	margin-top: 10%;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 1.5s steps(31, end), blink-caret .5s step-end 10 alternate;
}

/* Search button and search box animation. */

.search-box {
	background: black;
	border-radius: 40px;
	padding: 10px;
	margin-bottom: 30vh;
}

.search-box .search-btn {
	color: white;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;
	transition: 0.45s;
	border: white;
}

.search-box:hover > .search-text {
	width: 240px;
	padding: 0 6px;
}

.search-box .search-text {
	border: none;
	font: bold 100% Consolas, Monaco, monospace;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.45s;
	line-height: 40px;
	width: 0px;
}

/* Loading icon animation during search query. */

.load {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 3rem;
	height: 3rem;
}
.load hr {
	border: 0;
	margin: 0;
	width: 40%;
	height: 40%;
	position: absolute;
	border-radius: 50%;
	animation: spin 2s ease infinite;
}

.load :first-child {
	background: #19a68c;
	animation-delay: -1.5s;
}
.load :nth-child(2) {
	background: #f63d3a;
	animation-delay: -1s;
}
.load :nth-child(3) {
	background: #fda543;
	animation-delay: -0.5s;
}
.load :last-child {
	background: #193b48;
}

@keyframes spin {
	0%,
	100% {
		transform: translate(0);
	}
	25% {
		transform: translate(160%);
	}
	50% {
		transform: translate(160%, 160%);
	}
	75% {
		transform: translate(0, 160%);
	}
}

/* Results grid of movies. */

.grid .card {
	border: none;
}

.movie-art {
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
	box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.4);
}

#results {
	position: relative;
	display: none;
}

.card-front,
.card-info {
	width: 400px;
	height: 600px;
	margin-bottom: 5%;
	margin-right: 1vh;
	margin-left: 1vh;
}

/* .card-front:hover {
	Fill in with animation to elude to clicking movie art for more info.
} */

.card-info {
	font-family: Consolas, Monaco, monospace;
	color: black;
	display: none;
	border: 2px black solid;
	border-radius: 2.5%;
}

.card-format b {
	background-color: black;
	color: white;
	padding-right: 4px;
	padding-left: 4px;
}

/* Full stage styling for grid and search results.  */
.main {
	height: 100vh;
}

.grid {
	min-height: 100vh;
	display: none;
}

.card-info .card-format {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
